extends ../layout

block content
  .container
    .createForm
      img(src="/img/svg/schools.svg", alt="Ilustrácia školy")

      if typeof id != 'undefined'
        form(action="/admin/schools/" + id + "/edit", method="post")
          if typeof errors != 'undefined'
            .error
              each error in errors
                p= error.msg
          div
            input.input(type="text" id="name" name="name" placeholder="Názov školy" value=name required)
            span.border
          div
            input.input(type="text" id="link" name="link" placeholder="Url adresa" value=link required)
            span.border
          div
            input.input(type="text" id="street" name="street" placeholder="Ulica" value=street  required)
            span.border
          div
            input.input(type="text" id="city" name="city" placeholder="Mesto" value=city required)
            span.border
          div
            input.input(type="text" id="postcode" name="postcode" placeholder="PSČ" value=postcode required)
            span.border
          button.btn-primary(type="submit") Aktualizovať
      else
        form(action="/admin/schools/create", method="post")
          if typeof errors != 'undefined'
            .error
              each error in errors
                p= error.msg
          div
            input.input(type="text" id="name" name="name" placeholder="Názov školy"   required)
            span.border
          div
            input.input(type="text" id="link" name="link" placeholder="Url adresa"  required)
            span.border
          div
            input.input(type="text" id="street" name="street" placeholder="Ulica"   required)
            span.border
          div
            input.input(type="text" id="city" name="city" placeholder="Mesto"   required)
            span.border
          div
            input.input(type="text" id="postcode" name="postcode" placeholder="PSČ"   required)
            span.border
          button.btn-primary(type="submit") Pridať
